*~
*.lo
*.o
*.exe
target/
out/
Makefile
Makefile.in
Makefile.am
config.*
configure.ac
libtool
ltmain.sh
aclocal.m4
autom4te.cache
compile
depcomp
install-sh
m4
missing
stamp-h1
src/main/c/
src/test/c/
intellij/

